<a href="https://colab.research.google.com/github/Aasthapaudel/datathon/blob/main/nextdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn

In [ ]:
df=pd.read_csv("/content/set1.csv")

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   District      80 non-null     object
 1   Male          80 non-null     int64
 2   Female        80 non-null     int64
 3   Third Gender  80 non-null     int64
 4   Total         80 non-null     object
dtypes: int64(3), object(2)
memory usage: 3.2+ KB

In [ ]:
df.head()

       District   Male  Female  Third Gender   Total
0        Achham  60441   67299             2  127742
1  Arghakhanchi  60296   66403             0  126699
2       Baglung  73963   82839             0  156802
3       Baitadi  60227   64596             1  124824
4       Bajhang  47888   49721             1   97610

In [ ]:
df.tail()

     District     Male   Female  Third Gender     Total
75     Tanahu    90144  3104327             0    194471
76  Taplejung    37187    33591             0     70778
77  Terhathum    30334    30370             0     60704
78   Udayapur    88510    86951             0    175461
79      Total  7069714  6984625           143  14054482

In [ ]:
df.describe()

               Male        Female  Third Gender
count  8.000000e+01  8.000000e+01     80.000000
mean   1.851372e+05  2.546872e+05      3.562500
std    7.849834e+05  8.991922e+05     16.160464
min    0.000000e+00  0.000000e+00      0.000000
25%    4.577675e+04  4.948575e+04      0.000000
50%    7.526500e+04  8.288850e+04      1.000000
75%    1.252198e+05  1.286485e+05      2.000000
max    7.069714e+06  6.984625e+06    143.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   District      80 non-null     object
 1   Male          80 non-null     int64
 2   Female        80 non-null     int64
 3   Third Gender  80 non-null     int64
 4   Total         80 non-null     object
dtypes: int64(3), object(2)
memory usage: 3.2+ KB

In [ ]:
df['dataset_total'] = df["Male"] + df["Female"] + df["Third Gender"]

In [ ]:
df.loc[47]

District         Mustang
Male                4010
Female                 0
Third Gender           0
Total               8263
dataset_total       4010
Name: 47, dtype: object

In [ ]:
(df['Total'].equals (df['dataset_total']))

False

In [ ]:
df.replace('???? ,np.nan')

        District     Male   Female  Third Gender     Total  dataset_total
0         Achham    60441    67299             2    127742         127742
1   Arghakhanchi    60296    66403             0    126699         126699
2        Baglung    73963    82839             0    156802         156802
3        Baitadi    60227    64596             1    124824         124824
4        Bajhang    47888    49721             1     97610          97610
..           ...      ...      ...           ...       ...            ...
75        Tanahu    90144  3104327             0    194471        3194471
76     Taplejung    37187    33591             0     70778          70778
77     Terhathum    30334    30370             0     60704          60704
78      Udayapur    88510    86951             0    175461         175461
79         Total  7069714  6984625           143  14054482       14054482

[80 rows x 6 columns]

In [ ]:
df=df.drop_duplicates(keep='first')

In [ ]:
df=df.replace(['Nawalparasi(east)','Nawalparasi(west)'])

In [ ]:
df['Total'].loc[27]=(df['Male'].loc[27] +df['Female'].loc[27])

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 0 to 79
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   District       77 non-null     object
 1   Male           77 non-null     int64
 2   Female         77 non-null     int64
 3   Third Gender   77 non-null     int64
 4   Total          77 non-null     object
 5   dataset_total  77 non-null     int64
dtypes: int64(4), object(2)
memory usage: 6.3+ KB

In [ ]:
df.isnull()

    District   Male  Female  Third Gender  Total  dataset_total
0      False  False   False         False  False          False
1      False  False   False         False  False          False
2      False  False   False         False  False          False
3      False  False   False         False  False          False
4      False  False   False         False  False          False
..       ...    ...     ...           ...    ...            ...
74     False  False   False         False  False          False
76     False  False   False         False  False          False
77     False  False   False         False  False          False
78     False  False   False         False  False          False
79     False  False   False         False  False          False

[77 rows x 6 columns]

In [ ]:
df.isnull().sum()

District         0
Male             0
Female           0
Third Gender     0
Total            0
dataset_total    0
dtype: int64

In [ ]:
df.loc[ df["Total"] != df["Male"] + df["Female"] + df["Third Gender"]]

In [ ]:
nlrg=df.nlargest(10,'Total')
nlrg

TypeError: ignored

In [ ]:
plt.pie(x=nlrg['Total'],lables=nlrg['Total'])

NameError: ignored